parameters:
    level: max
    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit/vendor/autoload.php

    ignoreErrors:
        # Fix PHPUnit\Framework\TestCase::expectException() custom typehint
        - '#class\-string\<Throwable\>#'

        # Tests try to pass invalid value since PHPDoc annotation cannot really enforce it.
        - '(expects array<int\|string>\|int\|string, object\{dummy: bool\}&stdClass given\.)'
        - '(expects .blacklist.\|.whitelist., .noo. given\.)'
        - '(expects .domain.\|.ip.\|.port.\|.scheme., .noo. given\.)'
        - '(expects .domain.\|.ip.\|.port.\|.scheme.\|null, .noo. given\.)'
