parameters:
    level: 7
    paths:
        - src
        - tests

    bootstrapFiles:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

    ignoreErrors:
        # Fix PHPUnit\Framework\TestCase::expectException() custom typehint
        - '#class\-string\<Throwable\>#'
