parameters:
    level: 7
    paths:
        - src
        - tests

    # https://github.com/phpstan/phpstan/issues/694#issuecomment-350724288
    autoload_files:
        - vendor/bin/.phpunit/phpunit-8.3-0/vendor/autoload.php

    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false

    ignoreErrors:
        # Fix PHPUnit\Framework\TestCase::expectException() custom typehint
        - '#class\-string\<Throwable\>#'
